* {
	margin: 0;
	padding: 0;
	outline: none;
	font-size: 14px;
}

header {
	position: fixed;
	width: 100%;
	z-index: 10000;
	background: #FFF;
}

header img {
	width: 250px;
	display: block;
	margin: auto;
	padding: 20px 0px 20px 0px;
}

#list-container {
	width: 50%;
	float: left;
	margin-left: 25px;
	z-index: 1;
	margin-top: 211px;
	padding-bottom: 208px;
}

#list-container form {
	width: 100%;
	height: 60px;
}

#list-container form .list-container-profil {
	width: 100%;
	height: 60px;
	border: 1px solid #FFF;
	color: #FFF;
	font-family: Oswald;
	background: #074d97;
	display: block;
	position: relative;
}

#list-container form .list-container-profil .hold {
	float: left;
	margin-left: 9.5px;
	margin-right: 9.5px;
	margin-top: 22.5px;
	position: inherit;
	top: 0;
	left: 0;
}

#list-container form .list-container-profil .fa-check-circle-o {
	position: absolute;
	font-size: 22px;
	left: 17px;
	top: 20px;
}

#list-container form .list-container-profil input[type="checkbox"] {
	float: left;
	margin-left: 25px;
	margin-top: 22.5px;
	display: none;
}

#list-container form .list-container-profil p {
	float: left;
	width: 80%;
	margin-top: 10px;
	margin-left: 50px;
}

#list-container form .list-container-profil p span {
	color: #CCCCCC;
	font-family: Roboto;
}

.info-container {
	position: absolute;
	right: 0;
	width: 10%;
	height: 60px;
}

.list-container-profil .fa-info-circle {
	position: absolute;
	right: 5px;
	top: 5px;
	color: #FFF;
	font-size: 22px;
}

.profil-container {
	width: calc(50% + 1px);
	height: 150px; /* à supprimer */
	border-top: 25px solid #FFF;
	border-bottom: 25px solid #FFF;
	position: fixed;
	bottom: 0px;
	left: 25px;
	z-index: 1;
	background: #074d97;
	color: #FFF;
}

.profil-container h2 {
	font-family: Oswald;
	font-size: 18px;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
	background: #06417F;
}

.profil-container h2 i {
	font-size: 22px;
}

.profil-container p {
	font-family: Oswald;
	text-align: center;
	margin-top: 7px;
	font-size: 18px;
}

.profil-container .mobile {
	font-family: Roboto;
	text-align: center;
	color: #FFF;
	text-decoration: none;
	margin-top: 7px;
	font-size: 22px;
}

.profil-container .bu {
	font-size: 14px;
}

#stats {
	width: 40%;
	padding-bottom: 25px;
	position: fixed;
	right: 25px;
	color: #074d97;
	top: 154px;
	text-align: center;
	text-transform: uppercase;
	font-family: Oswald;
	font-size: 28px;
	border: 1px solid #074d97;
	padding-top: 25px;
}

#stats p {
	font-size: 38px;
	margin-bottom: 25px;
}

.clearfix {
	clear: both;
	overflow: hidden;
}

.actif {
	color: #FFF !important;
	opacity: 1 !important;
}

.check {
	color: #9E9E9E;
	opacity: 0.7;
}

.input-container {
	width: calc(100% - 2px);
	height: 45px;
	background: #FFF;
	border: 1px solid #074d97;
}

.input-container i {
	color: #074d97;
	font-size: 22px;
	float: left; 
	margin-top: 10px;
	margin-left: 10px;
}

.input-container input {
	width: calc(100% - 35px);
	border: 0;
	outline: none;
	float: left;
	height: 45px;
	padding-left: 15px;
	box-sizing: border-box;
}

#search {
	background: #FFF;
	position: fixed;
	z-index:10000;
	width: 50%;
    margin-left: 26px;
    top: 154px;
    border-bottom: 10px solid #FFF;
}

#close-search {
	position: absolute;
	right: 10px;
	top: 2px;
}

.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
  font-family: Oswald;
  font-size: 22px;
  text-transform: uppercase;

}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}

